<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card ">
        <div class="card-img-wrapper">
          <img *ngIf="getPrimaryPhotoUrl()" class="card-img-top" [src]="getPrimaryPhotoUrl()">
          <img *ngIf="!getPrimaryPhotoUrl()" class="card-img-top" src="assets/Images/house_default.png">

        </div>
        <div class="card-body" >
          <h1 class="card-title">{{property.name}}</h1>
          <div>
              <strong>{{property.bhk}} BHK {{property.propertyType}} : ${{property.price}}</strong>
          </div>
          <div>
             <strong>in {{property.city}}</strong>
          </div> <hr>
          <div>
              <strong>Build Area: </strong>
              {{property.builtArea}} Sqft
          </div>
  
          <div>
              <strong>Carpet Area: </strong>
              {{property.carpetArea}} Sqft
          </div>
          <div>
              <strong>Furnishing Type: </strong>
              {{property.furnishingType}}
          </div>
          <div>
            <strong>Available for: </strong>
              <span *ngIf="property.sellRent ===1">Purchase</span>
              <span *ngIf="property.sellRent ===2">Rent</span>
          </div>


        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button *ngIf="loggedInUserMatchesPostByName"routerLink="/update-Property/{{property.id}}" class="btn btn-primary me-2">Edit</button>
            <!-- <button class="btn btn-success">Message</button> -->
          </div>           
        </div>
    </div>
     
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel" >
      <tabset class="member-tabset navCustom">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.floorNo}} of {{property.totalFloors}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.age}}</p>
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <p>{{ property.estPossessionOn | date:'dd/MM/yyyy' }}</p>

                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance </strong>
                      <p>{{property.mainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p *ngIf="property.gated">Yes</p>
                      <p *ngIf="!property.gated">No</p>

                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.security}} $/year</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.maintenance}} $/year</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{property.description}}</p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Address">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong>address: {{property.address}}</strong><br/>
                <strong>Address2: {{property.address2}}</strong><br/>
                <strong>City: {{property.city}}</strong>
            </div>
        </div>

        </tab>
        <tab heading="Photos">
        
        <carousel [isAnimated]="true">
          <slide *ngFor="let photos of property.photos">
            <img src="{{photos.imageUrl}}" alt="slide image" style="display: block; border: solid 2px #6ab4ff;">
          </slide>
        </carousel>
        </tab>

        <tab *ngIf="loggedInUserMatchesPostByName" heading="Upload/Edit Photos">
          <app-photo-editor [property]="property"></app-photo-editor>
        </tab>

        <tab heading="Contact">
          <h1>Contact Detail</h1>
          This should be restricted area and only registered user should be able to see seller contact details
        </tab>
      </tabset>
    </div>
  </div>
</div>