
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}
.card:hover img{
    transform: scale(1.1,1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: .7;
}


.card-body h1{
    font-family: fantasy;
    color: #0069d9;

}
.font-highlight{
    font-style: italic;
}
.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
}
.member-icon{
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover  .member-icon{
    bottom: 0;
    opacity: 1;
} 
.animate{
    transition: all 0.3s ease-in-out;
}

.card-img-top{
    height: auto;
    max-width: 383px;
}
/* .size_text_all .h .span {
    font-size: auto; 
    max-size: 18px; 
  }
   */