
<div class="card size_text_all">    
    <div class="card-img-wrapper">
        <img *ngIf="property2.photo" class="card-img-top" src="{{property2.photo}}">
        <img *ngIf="!property2.photo" class="card-img-top" src="assets/Images/house_default.png">

        <ul  class="list-inline text-center member-icon animate">
            <li *ngIf="!loggedInUserMatchesPostByName" class="list-inline-item">
                <button class="btn btn-primary" >
                    <i class="fa-regular fa-heart"></i>
                </button> 
            </li>
            <li *ngIf="loggedInUserMatchesPostByName" class="list-inline-item">
                <button class="btn btn-primary" routerLink="/update-Property/{{property2.id}}" >
                    <i class="fa-solid fa-pen-to-square"></i>
                </button> 
            </li>

            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/property-detail/{{property2.id}}">
                    <i class="fa-regular fa-address-book"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h1 class="mb-0"> {{property2.bhk}} BHK {{property2.propertyType}} </h1>
    
        In {{property2.name}}
        <span *ngIf="property2.name">,</span>
        {{property2.city}}
    
        <h6  class="mt-2">{{property2.furnishingType}}
            <span *ngIf="property2.furnishingType !== 'Unfurnished'">Furnished </span> 
            <span *ngIf="property2.readyToMove">| Ready to Move</span> 
            <span *ngIf="!property2.readyToMove">Posession: {{ property2.estPossessionOn | date: 'dd-MM-yyyy' }}</span>


        </h6>
    
        
    
        <h6 class="mb-0">Price: <span class="text-success font-highlight">{{ property2.price | number: '1.0-0' }} USD.</span> |
          Area:  <span class="font-highlight text-danger">{{property2.builtArea}} Sq Ft </span> 
        </h6>
          <hr class="mt-0 mb-2">
        <h6 class="mb-0">Post By: <span class="text-bg-info font-highlight text-white pe-2 ps-2" style="border-radius: 20px;">{{ property2.postByName||"Mr.ABC"}}</span> 
           
                <strong> || Available for: </strong>
                  <span class="text-bg-success pe-2 ps-2" style="border-radius: 20px;" *ngIf="property2.sellRent ===1">Purchase</span>
                  <span class="text-bg-warning  pe-2 ps-2"  style="border-radius: 20px;"*ngIf="property2.sellRent ===2">Rent</span>
             
            <span style="color: #74C0FC;">  <i  class="fa-regular fa-eye"  style="padding-left: 5%; color: #74C0FC;;"></i> {{property2.view}}</span>
        </h6>
    </div>
</div>
